@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;

}

#headline {
    background-color: #333;
    padding: 20px;
}

.info {
    background-color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    animation: slideIn 1s ease-in-out;
}

.subheadline {
    color: #FFA500;
    font-weight: bold;
    font-size: 2.5rem;
}

.subheadline_split {
    color: #FFA500;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 100px;
}

.text {
    margin-top: 10px;
    font-size: 2.0rem;
}

.picture {
    margin-top: 10px;
    width: 100%;
}
.intro {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}